<div class="background">	
    <form class="signupForm" #userForm="ngForm" (ngSubmit) = "signup(userForm.value)">
        <h3 align="center">Enter you data:</h3>
        

        <input class="inputBox" type = "text" name = "username" placeholder = "username" 
            #usernm="ngModel" ngModel minlength="4" required>
        <div *ngIf="usernm.invalid && (usernm.dirty || usernm.touched)">		 
            <div class="messageAlert" *ngIf="usernm.errors.required">username is required.</div>
            <div class="messageAlert" *ngIf="usernm.errors.minlength">userame must be at least 4 characters long</div>
        </div>
        <div class="messageAlert" id = "usernameAlreadyExists">username already exists</div>

        <input class="inputBox" type = "password" name = "password"  placeholder = "password" 
            #passw="ngModel" ngModel minlength="4" required>
        <div *ngIf="passw.invalid && (passw.dirty || passw.touched)">		 
            <div class="messageAlert" *ngIf="passw.errors.required">password is required.</div>
            <div class="messageAlert" *ngIf="passw.errors.minlength">password must be at least 4 characters long</div>
		</div>

        <input class="inputBox" type = "password" name = "passwordAgain" placeholder = "password again" ngModel>	 
        <div class="messageAlert" id = "passwordAgainMessage">passwords do not match</div>
        
        <input class="inputBox" type = "text" name = "firstname" placeholder = "firstname" 
            #fname ="ngModel" ngModel required>
        <div *ngIf="fname.invalid && (fname.dirty || fname.touched)">		 
            <div class="messageAlert" *ngIf="fname.errors.required">firstname is required</div>
        </div>

        <input class="inputBox" type = "text" name = "lastname" placeholder = "lastname" 
            #lname ="ngModel" ngModel required>
        <div *ngIf="lname.invalid && (lname.dirty || lname.touched)">		 
            <div class="messageAlert" *ngIf="lname.errors.required">lastname is required</div>
        </div>


        <select id = "selectOptions" class="inputBox" name="favouriteGenre" #fgenre="ngModel" ngModel required>
            <option value="literary-realism">Literary realism</option>
            <option value="poetry">Poetry</option>
            <option value="drama">Drama</option>
            <option value="romance">Romance</option>
            <option value="fantasy">Fantasy</option>
            <option value="ecomomy">Ecomomy</option>
            <option value="science">Science</option>
            <option value="philosophy">Philosophy</option>
        </select>	 
        <div *ngIf="fgenre.invalid && (fgenre.dirty || fgenre.touched)">		 
            <div class="messageAlert" *ngIf="fgenre.errors.required">favourite genre is required</div>
        </div>

        <input class="inputBox" type = "email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            name = "email" placeholder = "email" #eml ="ngModel" ngModel required>
        <div *ngIf="eml.invalid && (eml.dirty || eml.touched)">		 
            <div class="messageAlert" *ngIf="eml.errors.required">email is required</div>
        </div>


        <input class="buton" [disabled]="usernm.invalid || 
            passw.invalid || fname.invalid || lname.invalid || fgenre.invalid" type="submit" value = "Submit data"/>
            <div id = "messageSignupFailed" class = "messageSignupFailed"></div>
    </form>
</div>

 



