<div class="background">	
	<form class="loginForm" #userForm="ngForm" (ngSubmit) = "login(userForm.value)">
		<h1 align="center">Welcome</h1>
 	
		<input class="inputBox" type = "text" name = "username" 
			placeholder = "username" #usern="ngModel" ngModel required>
		<div *ngIf="usern.invalid && (usern.dirty || usern.touched)">		 
			<div class="messageAlert" *ngIf="usern.errors.required">username is required.</div>
		</div>


		<input class="inputBox" type = "password" name = "password" 
			placeholder = "password" #pass="ngModel" ngModel required>
		<div *ngIf="pass.invalid && (pass.dirty || pass.touched)">		 
			<div class="messageAlert" *ngIf="pass.errors.required">password is required.</div>
		</div>

		<input class="buton" [disabled]="usern.invalid || pass.invalid" type="submit" value = "Login"/>
		
		<a routerLink="/signup" routerLinkActive="active">
			<input class="buton" type="submit" value = "Signup"/>
		</a>

		<div id = "messageLoginFailed" class = "messageLoginFailed"></div>
	</form>
</div>








